doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="robots",content="noindex,nofollow")
        meta(name="referrer",content="no-referrer")
        meta(name="viewport",content="width=device-width")
        meta(name="csrf-token",content=csrf)
        script(src="/_/resources/bundle.js",async)
    body
        misskey-app
            h1 Loading...
            p Please wait!
