doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="robots",content="noindex,nofollow")
        meta(name="referrer",content="no-referrer")
        script(src="/_/resources/bundle.js")
    body
        misskey-app
