doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="robots",content="noindex,nofollow")
        meta(name="referrer",content="no-referrer")
        meta(name="viewport",content="width=device-width")
        meta(name="csrf-token",content=csrf)
        script(src="/_/resources/bundle.js",async)
        title deltaweb
    body
        misskey-app
            div
            
            style.
                html, body{
                    margin: 0;
                    padding: 0;
                    width: 100vw;
                    height: 100vh;
                }
                
                misskey-app{
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    width: 100vw;
                    height: 100vh;
                    margin: 0;
                    padding: 0;
                    background: #F4EEEB;
                }
                
                misskey-app div{
                    width: 30px;
                    height: 30px;
                    margin: 90px 0;
                    position: relative;
                }

                misskey-app div:before{
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(192,192,192,0.5);
                    content: "";
                    border-radius: 50%;
                    animation: anim1 2s infinite;
                }

                misskey-app div:after{
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(192,192,192,0.5);
                    content: "";
                    border-radius: 50%;
                    animation: anim1 2s -1s infinite;
                }

                @keyframes anim1{
                    0%{transform: scale(0)}
                    50%{transform: scale(2.5)}
                    100%{transform: scale(0)}
                }
