doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="robots",content="noindex,nofollow")
        meta(name="referrer",content="no-referrer")
        script(src="/_/resources/bundle.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    body
        misskey-app
