body{
    background: #f2ebe8;
    font-family: Hiragino Sans, YuGothic, Noto Sans CJK JP, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
button {
    background: #11491d;
    color: white;
    border:0;
    padding: 8px 16px;
    font-size:1em;
}
a {
    color: #11491d;
    text-decoration: none;
}
* {
    word-wrap: break-word;
}
.container {
    margin-top: 8px;
    flex: 1 1 560px;
    max-width:560px;
    box-sizing: border-box;
}
@media screen and (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}
@media screen and (max-width: 360px) {
    body{
        margin-left:0;
        margin-right:0;
    }
}

input[type="text"],input[type="password"],textarea {
    display: block;
    padding: 0.5em;
    margin: 16px 0;
    border: solid 2px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
}
